.App {
  padding: 4rem;
}

.button {
  position: absolute;
  top: 50%; /* Moves button to the middle vertically */
  left: 50%; /* Moves button to the middle horizontally */
  transform: translate(-50%, -50%); /* Centers the button */
}

.headers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
}

/* .presentTense {
  margin-top: 50px;
  margin-bottom: 250px;
}

.pastTense {
  margin-top: auto;
  margin-bottom: 250px;
}

.futureTense {
  margin-top: auto;
} */